<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Burger Confirmed</title>
</head>
<body>
<h1>You successfully placed a request for a <span th:if="${#lists.isEmpty(burger.toppingList)}" th:text="plain"></span> burger with <span th:text="${burger.meat}"></span><span
        th:each=" topping : ${burger.toppingList}"><span
        th:text="${toppingStat.size == 1}? ' and ' + ${topping} : (${toppingStat.last}? ', and ' + ${topping} : ', ' + ${topping})"></span></span>
    on <span th:text="${burger.bread}"></span> bread.</h1>
<h1>Deliciousness will be coming to you shortly</h1>
</body>
</html>