<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Burger Maker</title>
</head>
<body>
<form action="/burgerConfirmed" th:object="${builder}" method="post">
    <select th:field="*{bread}">
        <option value="white">White</option>
        <option value="wheat">Wheat</option>
    </select>
    <select th:field="*{meat}">
        <option value="beef">Beef</option>
        <option value="chicken">Chicken</option>
    </select>
    <input type="checkbox" th:field="*{toppingList}" value="cheese"> Cheese
    <input type="checkbox" th:field="*{toppingList}" value="tomatoes"> Tomatoes
    <input type="checkbox" th:field="*{toppingList}" value="lettuce"> Lettuce
    <button type="submit">Submit</button>
</form>
</body>
</html>